* {font-family: Roboto;}
.mdcommonweb {
  padding: 0px 15px;
}
@media (min-width: 768px) {
  .mdcommonweb {
    padding: 0px 20px;
  }
}
@media (min-width: 992px) {
  .mdcommonweb {
    padding: 0px 40px;
  }
}
@media (min-width: 1260px) {
  .mdcommonweb {
    margin: 0px auto;
    max-width: 1400px;
    padding: 0 60px;
  }
}
@media (min-width: 1460px) {
  .mdcommonweb {
    padding: 0;
  }
}