@import "aamixin";
.newsList-K  {
  @include pdt('资讯页面内容区','information-list',30px);
  @include pdb('资讯页面内容区','information-list',30px);
  .area-title {
    letter-spacing: -1px;
    line-height: 1;
    position: relative;
    @include pdl('资讯页面小栏目标题','information-list',15px);
    @include cl('资讯页面小栏目标题','information-list',#000);
    @include fz('资讯页面小栏目标题','information-list',20px);
    @include mgb('资讯页面小栏目标题','information-list',20px);
    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: 5px;
      height: 100%;
      top: 0;
      @include bgc('资讯页面小栏目标题','information-list',#ff5500);
    }
  }
  .info {
    @include pd('资讯页面详细','info',15px 10px 10px);
    .name {
      line-height: 1.3;
      transition: all .3s;
      @include ol();
      @include cl('资讯页面详细标题','info',#333);
      @include fz('资讯页面详细标题','info',18px);
      @include mgb('资讯页面详细标题','info',5px);
      @include pdr('资讯页面详细标题','info',10%);
    }
    .desc {
      height: 44px;
      @include mlmax(22px,2);
      @include cl('资讯页面详细描述','desc',#888);
      @include fz('资讯页面详细描述','desc',14px);
      @include mgb('资讯页面详细描述','desc',15px);
    }
    .date {
      line-height: 1.3;
      transition: all .3s;
      @include cl('资讯页面详细日期','date',#888);
      @include fz('资讯页面详细日期','date',18px);
    }
  }
  .all-more-area {
    @include mgt('资讯页面加载更多按钮','all-more-area',20px);
  }
}
.information-top-list {
  ul {
    @include mg('资讯页面上部分列表容器','information-top-list',0 -10px);
  }
  li {
    @include mgb('资讯页面上部分列表项','information-top-list>li',20px);
  }
  a {
    display: block;
    transition: all .3s;
    @include bod('资讯页面上部分列表项','information-top-list>li>a',#e5e5e5);
  }
  .thumb {
    overflow: hidden;
  }
  img {
    width: 100%;
    transition: all .7s;
  }

}
.information-top {
  @include mgb('资讯页面上部分','information-top',30px);
  @include pdt('资讯页面上部分','information-top',10px);
  @include pdb('资讯页面上部分','information-top',20px);
  @include bod('资讯页面上部分','information-top',#ccc,'-bottom');
}
.information-bottom-list {
  a {
    display: block;
    @include pd('资讯页面下部分列表项','information-bottom-list',15px 0);
    @include bod('资讯页面下部分列表项','information-bottom-list',#e6e6e6,'-bottom');
  }
  .thumb {
    overflow: hidden;
  }
  img {
    width: 100%;
    transition: all .7s;
  }
  .info {
    @include pdb('资讯页面下部分详细','information-bottom-list>info',0);
    @include pdt('资讯页面下部分详细','information-bottom-list>info',15px);
    .date {
      @include mgb('资讯页面下部分日期','information-bottom-list>date',5px);
    }
  }
  .more {
    line-height: 30px;
    width: 80px;
    text-align: center;
    transition: all .3s;
    @include bod('资讯页面下部分More','information-bottom-list>more',#dbdbdb);
    @include fz('资讯页面下部分More','information-bottom-list>more',14px);
    @include cl('资讯页面下部分More','information-bottom-list>more',#999);
  }
}