@import "aamixin";
@media (min-width: 1200px) {
  .newsList-K  {
    @include pdb('资讯页面内容区','information-list',100px);
  }
  .information-top {
    @include mgb('资讯页面上部分','information-top',80px);
    @include pdb('资讯页面上部分','information-top',50px);
    .area-title {
      @include mgb('资讯页面小栏目标题','information-list',50px);
    }
    .info {
      @include pdl('资讯页面上部分详细','info',30px);
      @include pdr('资讯页面上部分详细','info',30px);
      @include pdb('资讯页面上部分详细','info',20px);
      .desc {
        @include mgb('资讯页面上部分描述','information-top',30px);
      }
    }
  }
  .information-bottom-list {
    a {
      @include pd('资讯页面下部分列表项','information-bottom-list',30px 0);
      .info {
        @include pdr('资讯页面下部分详细','information-bottom-list>info',15%);
        .name {
          @include pdl('资讯页面下部分名称','information-bottom-list>name',50px);
          @include mgb('资讯页面下部分名称','information-bottom-list>name',15px);
        }
        .desc {
          line-height: 24px;
          height: 48px;
          max-height: 48px;
          @include pdl('资讯页面下部分描述','information-bottom-list>desc',50px);
        }
        .more {
          width: 120px;
          line-height: 40px;
          @include fz('资讯页面下部分More','information-bottom-list>more',18px);
        }
      }
    }
  }
  .information-bottom {
    .area-title {
      @include mgb('资讯页面下部分栏目标题','information-top',20px);
    }
    .all-more-area {
      @include mgt('资讯页面加载更多按钮','all-more-area',50px);
    }
  }
}