@import 'aamixin.scss';
@import 'aamixin02.scss';
// @include bgimg('联系我们板块信息文字背景','contactusInfoBgimg','bg01.png');
$main_color:#f09516;

.culturalD-container{
    width: 100%;
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 30px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: left bottom;
}
.culturalD-planne{
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 99% bottom;
    .planne-title{
        width: 100%;
        position: relative;
        .sup{
            @include cl("战略规划英文标题","culturalDPlanEnTitle",#e7e6e2);
            font-size: 22px;
            line-height: 1;
            word-spacing: -4px;
            
        }
        .title{
            @include cl("战略规划中文标题","culturalDPlanCnTitle",$main_color);
            font-size: 18px;
            line-height: 1.6;
        }
    }
    .planne-wrapper{
        width: 100%;
        position: relative;
        margin-top: 40px;
        padding-left: 15px;
        padding-right: 15px;
        border-top: 2px solid transparent;
        @include borderColor("战略规划区域","culturalDtopBorderbg",$main_color);
        border-bottom: 2px solid $main_color;
        &:before,&:after{
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            height: 100%;
            width: 2px;
            background-size: 100% auto;
            background-repeat: no-repeat;
            background-position: left bottom;
        }
        &:before{
            @include bgc("战略规划区域左边","culturalDleftBorderbg",$main_color);
        }
        &:after{
            @include bgc("战略规划区域右边","culturalDrightBorderbg",$main_color);
        }
        &:before{
            left: 0;
        }
        &:after{
            right: 0;
        }
    }
    .planne-tabbar{
        text-align: center;
        position: relative;
        margin-top: -23px;
        ul{
            display: inline-block;
            vertical-align: top;
            @include bgc("计划时长区块","culturalDPlanneSlideBg",$main_color);
            font-size: 0;
            padding: 7px;
            li{
                width: auto;
                display: inline-block;
                vertical-align: top;
                min-width: 110px;
                a{
                    display: block;
                    width: 100%;
                    @include cl("计划时长文本","culturalDPlanneTitle",#737373);
                    font-size: 14px;
                    line-height: 1.5;
                    background-color: #fff;
                    transition: all 0.3s;
                    padding: 6px 5px;
                }
            }
            li.cur{
                a{
                    color: #fff;
                    @include bgchv("计划时长标题","culturalDPlanneCurBg",$main_color);
                }
            }
        }
    }
    .planne-content{
        padding-top: 30px;
        padding-bottom: 30px;
        .thumb{
            width: 100%;
            overflow: hidden;
            position: relative;
            max-width: 300px;
            margin: 0 auto;
            &::before{
                content: '';
                display: block;
                width: 100%;
                padding-bottom: (250/300)*100%;
            }
            img{
                display: block;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        .wordcont{
            
        }
        .word{
            padding-top: 15px;
            .title{
                @include cl("描述标题","culturalDtxtTitle",#555555);
                line-height: 1.5;
                font-size: 16px;
            }
            .textcon{
                padding-top: 10px;
                padding-bottom: 10px;
            }
            .text{
                @include cl("文本标题","culturalDtxtWord",#a1a1a1);
                line-height: (26/14);
                font-size: 14px;
            }
            .spotted{
                line-height: (26/14);
                font-size: 14px;
                @include cl("下文本标题","culturalDtxtdot",#a1a1a1);
                .dot{
                    @include cl("数字标点","culturalDnumdot",#d89d3a);
                    font-size: 24px;
                    line-height: 1;
                }
            }
        }
    }
}


.culturalD-competitive{
    width: 100%;
    overflow: hidden;
    position: relative;
    .fullbg{
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 11;
        display: none;
        .image{
            display: block;
            width: 100%;
            position: relative;
            overflow: hidden;
            &::before{
                content: '';
                display: block;
                width: 100%;
                padding-bottom: (420/1920)*100%;
            }
            img{
                position: absolute;
                top: 0;
                left: 50%;
                display: block;
                width: auto;
                height: 100%;
                transform: translateX(-50%);
            }
        }
    }
}
.culturalD-capacity{
    width: 100%;
    overflow: hidden;
    position: relative;
    .capacity-header{
        width: 100%;
        position: relative;
        overflow: hidden;
        padding-top: 40px;
        padding-bottom: 20px;
    }
    .capacity-title{
        width: 100%;
        position: relative;
        .title{
            @include cl("核心竞争力中文标题","mculturalDCoreCnTitle",#444444);
            font-size: 16px;
            line-height: 1.5;
            font-weight: bold;
        }
        .sub{
            @include cl("战略规划英文标题","mculturalDCoreEnTitle",$main_color);
            font-size: 18px;
            line-height: 1;
            
        }
        
    }
    .capacity-section{
        width: 100%;
        position: relative;
    }


    
}

.culturalDbot-swiper{
    width: 100%;
    position: relative;
    ul{
        li{
            width: 100%;
            height: auto;
            a{
                display: block;
                width: 100%;
                position: relative;
                transition: background 0.3s;
                padding: 10px 10px 20px;
                background-repeat: no-repeat;
                background-size: 100% 100%;
                background-position: 0 0;
                @include bgc("核心竞争力滑块展示","culturalDslidebgCos",#f1f1f1);
                @include bgimg("核心竞争力滑块展示","culturalDslidebgimg","culturalD-normalbg.png");
            }
            .image{
                display: block;
                width: 100%;
                overflow: hidden;
                position: relative;
                &::before{
                    content: '';
                    display: block;
                    width: 100%;
                    padding-bottom: (217/368)*100%;
                }
                img{
                    display: block;
                    width: auto;
                    top: 0;
                    left: 50%;
                    position: absolute;
                    transform: translateX(-50%) scale(1);
                    height: 100%;
                    transition: all 0.9s;
                }
            }

            .word{
                padding: 20px 15px 0px;
                text-align: center;
                .title{
                    @include cl("核心竞争力滑块展示标题","culturalDJZTitle",#444444);
                    line-height: 1.5;
                    font-size: 16px;
                    font-weight: bold;
                    width: 100%;
                    @include ol();
                }
                .textcon{
                    padding-top: 8px;
                }
                .text{
                    @include cl("核心竞争力滑块展示文本","culturalDJZText",#737373);
                    font-size: 13px;
                    line-height: (18/13);
                    display: block;
                    width: 100%;
                    display: -webkit-box;
                    -webkit-line-clamp: 6;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    height: (18*6)+px;
                }
            }
        }
    }
}



.culturalDbot-swiper-prev,.culturalDbot-swiper-next{
    position: absolute;
    width: 51px;
    height: 51px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    transition: background 0.3s;
    top: (85/465)*100%;
    z-index: 223;
    display: none;
}

.culturalDbot-swiper-prev{
    @include bgimg("核心竞争力观左按钮","culturalDPrevButton","culturalD-button-prev.png");
    &:hover{
        @include bgimghv("核心竞争力鼠标触发观左按钮","culturalDPrevButtonHover","culturalD-button-prevs.png");
    }
}

.culturalDbot-swiper-next{
    @include bgimg("核心竞争力观右按钮","culturalDNextButton","culturalD-button-next.png");
    &:hover{
        @include bgimghv("核心竞争力鼠标触发观右按钮","culturalDNextButtonHover","culturalD-button-nexts.png");
    }
}




@media (min-width:1024px){
    
    .culturalD-container{
        padding-top: 50px;
        padding-bottom: 55px;
        @include bgimg("战略规划全局","culturalDPlaneCoreMask","culturalD-codebg.png");
    }

    .culturalD-planne{

        @include bgimg("战略规划全局","culturalDPlaneGlobalMask","culturalD-plannebg.png");

        .planne-title{

            .sup{
                font-size: 30px;
            }
            .title{
                font-size: 22px;
            }
        }

        .planne-wrapper{
            margin-top: 35px;
            padding-left: 65px;
            padding-right: 65px;
            border-bottom: none;

            &:before,&:after{
            }
            &:before{
            }
            &:after{
            }
            &:before{
                @include bgimg("战略规划区域左边","culturalDleftbgimg","culturalD-line.png");
            }
            &:after{
                @include bgimg("战略规划区域右边","culturalDrightbgimg","culturalD-line.png");
            }
        }

        .planne-tabbar{
            margin-top: -32px;
            ul{
                padding: 10px;
                li{
                    min-width: 180px;
                    a{
                        padding: 10px 5px;
                    }
                    a:hover{
                        color: #fff;
                        @include bgchv("计划时长标题","culturalDPlanneHoverBg",$main_color);
                    }
                }
                
            }
        }

        .planne-content{
            width: 100%;
            overflow: hidden;

            .thumb{
                width: 300px;
                float: left;
            }
            .wordcont{
                display: block;
                width: auto;
                overflow: hidden;
            }
            .word{
                padding-top: 60px;
                padding-left: 40px;

                .title{
                    font-size: 18px;
                }

                .textcon{
                    padding-top: 25px;
                }
                .text{
                }
                .spotted{
                    .dot{
                        font-size: 36px;
                    }
                }
            }
        }
    }


    .culturalD-competitive{
        .fullbg{
            display: block;
            .image{
                &::before{
                    padding-bottom: (330/1024)*100%;
                }
                img{
                }
            }
        }
    }

    .culturalD-capacity{
        z-index: 22;
        .capacity-header{
            padding-top: 0px;
            padding-bottom: 0px;
            &:after{
                content: '';
                display: block;
                width: 100%;
                padding-top: (190/1200)*100%;
            }
        }
        .capacity-title{
            position: absolute;
            top: (88/190)*100%;
            left: 0;
            text-align: center;

            .title{
                @include cl("核心竞争力中文PC标题","pCculturalDCoreCnTitle",#eae8cf);
                font-size: 20px;
                font-weight: normal;
            }
            .sub{
                @include cl("战略规划英文PC标题","pCculturalDCoreEnTitle",#925a1e);
                font-size: 24px;
                
            }
            
        }
        .capacity-section{

        }


        
    }

    .culturalDbot-swiper{
        ul{
            li{

                a{
                    padding: 12px 12px 24px;
                }
                a:hover{
                    @include bgchv("核心竞争力滑块展示","culturalDslideHoverColor",$main_color);
                    @include bgimghv("核心竞争力滑块展示","culturalDslideHoverImg","culturalD-hoverbg.png");
                    .image{
                        img{
                            transform: translateX(-50%) scale(1.1);
                        }
                    }
                    .word{
                        .title{
                            color: #fff;
                        }
                        .text{
                            color: #fff;
                        }
                    }
                }
                .image{
                    img{
                    }
                }

                .word{
                    padding: 24px 20px 0px;

                    .title{
                        font-size: 18px;
                        font-weight: normal;

                    }
                    .textcon{
                        padding-top: 12px;
                    }
                    .text{

                    }
                }
            }
        }
    }



    .culturalDbot-swiper-prev,.culturalDbot-swiper-next{
        // display: block;
    }

    .culturalDbot-swiper-prev{
        left: 12px;
    }
    .culturalDbot-swiper-next{
        right: 12px;
    }

}




@media (min-width:1260px){
    
    .culturalD-container{
        padding-top: 80px;
    }

    .culturalD-planne{

        .planne-title{

            .sup{
                @include fz("战略规划英文标题","culturalDPlanEnTitleFz",36px);
            }
            .title{
                @include fz("战略规划中文标题","culturalDPlanCnTitleFz",24px);
            }
        }

        .planne-wrapper{
            @include pdleft("战略规划区域","culturalDPlanAreaPdleft",150px);
            @include pdright("战略规划区域","culturalDPlanAreaPdright",150px);
            border-top-width: 3px;
            &:before,&:after{
                width: 3px;
            }

            &:before{
            }
            &:after{
            }

        }

        .planne-tabbar{
            @include mgtop("计划时长板块突出","culturalDPlanSCaleTo",-35px);

            ul{
                li{

                    a{
                        padding: 14px 5px;
                    }
                    
                }
                
            }
        }

        .planne-content{
            @include pdtop("战略规划区域","culturalDPlanAreaPdtop",30px);
            @include pdbottom("战略规划区域","culturalDPlanAreaPdbottom",30px);
            .thumb{
                // width: 300px;
                @include width("地图图片宽度","culturalDMapWidth",300px);
            }
            .wordcont{
            }
            .word{
                
                .title{
                    @include fz("描述标题","culturalDtxtTitleFz",18px);
                }

                .textcon{

                }
                .text{
                    @include fz("文本标题","culturalDtxtWordFz",14px);
                }
                .spotted{
                    @include fz("下文本标题","culturalDtxtdotFz",14px);
                    .dot{
                        @include fz("数字标点","culturalDnumdotFz",36px);
                    }
                }
            }
        }
    }


    .culturalD-competitive{
        .fullbg{
            display: block;
            .image{
                &::before{
                    padding-bottom: 420px;
                }
                img{
                }
            }
        }
    }

    .culturalD-capacity{
        .capacity-header{
        }
        .capacity-title{
            .title{
                @include fz("核心竞争力中文PC标题","pCculturalDCoreCnTitleFZ",24px);
            }
            .sub{
                @include fz("战略规划英文PC标题","pCculturalDCoreEnTitleFz",36px);
                
            }
            
        }
        .capacity-section{

        }


        
    }

    .culturalDbot-swiper{
        ul{
            li{

                a{

                }

                .image{
                    img{

                    }
                }

                .word{
                    .title{
                        @include fz("核心竞争力滑块展示标题","culturalDJZTitleFz",18px);
                    }
                    .textcon{
                    }
                    .text{
                        @include fz("核心竞争力滑块展示文本","culturalDJZtextFz",13px);
                        @include lineClamp("核心竞争力滑块展示文本","culturalDJZlineClamp",6);
                        @include txth("核心竞争力滑块展示文本","culturalDJZtxtHeight", (18*6)+px);
                    }
                }
            }
        }
    }



    .culturalDbot-swiper-prev,.culturalDbot-swiper-next{

    }

    .culturalDbot-swiper-prev{

    }
    .culturalDbot-swiper-next{

    }

}

@media (min-width:1360px){
    .culturalDbot-swiper-prev{
        left: -70px;
    }
    .culturalDbot-swiper-next{
        right: -70px;
    }
}