@import 'aamixin.scss';
.module-a{
    h3{
        padding: 10px;
        margin:10px;
        @include cl('A的字体颜色','acolor',#333);
        @include bgc('A的背景颜色','acolor',#f60);
        line-height: 2;
        background-image: url('../images/searchicon.png');
    }
}