/*--公共部分--*/
// 小于3px的必须使用 pt代替 -> 3px
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent; // 消除点击高亮
    -webkit-touch-callout: none;
    cursor: pointer;
    overflow-y: scroll;
}
body {
    min-width: 320pt;
    background-color: #fff; // 某些浏览器会默认灰色背景，重置一下
}

body,
form,
img,
ul,
ol,
li,
dl,
dt,
dd,
p,
tr,
td,
strong,
span,
pre {
    margin: 0;
    padding: 0;
    border: 0;
    background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

// 字体
body,
button,
input,
select,
textarea {
	font: 14pt/1.5 Arial, 'PingFang SC','Microsoft JhengHei','Microsoft YaHei', sans-serif; // 适配 h1-h6 默认的字体行高；提高编辑器中字体还原度
	color: #333;
}

ul,
li {
    list-style: none;
}

// em,i,b{ font-style:normal;} 编辑器不可用
img {
	height:auto;
    border: 0px;
    max-width: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-repeat: no-repeat; // 默认背景不重复
}

// -- html5
article,
aside,
footer,
header,
nav,
section {
    display: block;
}

// -- a  点击类
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    text-decoration: none;
    color: #333;
    outline: none;
}

a:hover {
    background-repeat: no-repeat;
    text-decoration: none;
}

a,
input[type="button"],
button,
label,
input[type="submit"] {
    cursor: pointer;
}

// -- sub sup
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

audio,
video {
    display: inline-block;
}

// -- 表单
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

input,
textarea,
select {
    outline: none;
}

input[type="text"],
input[type="password"],
input[type="button"],
input[type="submit"],
button,
select,
textarea {
    outline-style: none;
    -webkit-appearance: none;
    resize: none;
    border: none;
    border-radius: 0;
}

// 自动填充的  autocomplete off/ new-password
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000pt white inset !important;
}

// 常用样式  
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    *zoom: 1;
}

.clear {
    clear: both;
    line-height: 0;
    height: 0;
    font-size: 0;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

// 调试专用
.show {
    display: block !important;
}

.hide {
    display: none !important;
}

// 布局类
.commonweb {
    padding: 0px 15pt;
}

/* layout start*/

// swiper  autoheight   slide

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.swiper-container-no-flexbox .swiper-slide {
    float: left;
}

.swiper-container-vertical>.swiper-wrapper {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: -webkit-transform;
    -moz-transition-property: transform, -moz-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform, -moz-transform, -o-transform;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.swiper-container-multirow>.swiper-wrapper {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.swiper-container-free-mode>.swiper-wrapper {
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto;
}

.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
    height: auto;
}

.swiper-container-autoheight .swiper-wrapper {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    align-items: flex-start;
    -webkit-transition-property: -webkit-transform, height;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -webkit-transition-property: height, -webkit-transform;
    transition-property: height, -webkit-transform;
    -o-transition-property: height, -o-transform;
    -moz-transition-property: transform, height, -moz-transform;
    transition-property: transform, height;
    transition-property: transform, height, -webkit-transform, -moz-transform, -o-transform;
}

.swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000;
}

.swiper-wp8-horizontal {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}

.swiper-wp8-vertical {
    -ms-touch-action: pan-x;
    touch-action: pan-x;
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    -moz-background-size: 27px 44px;
    -o-background-size: 27px 44px;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none;
}