@import 'aamixin.scss';
@import 'aamixin02.scss';

.culturalHfull-container{
    width: 100%;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: (830/1920)*100% auto;
    @include bgimg("顶部背景","culturalHTopBgImg","culturalH-bg01.png");
}

.culturalH-container{
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-top: 30px;
    padding-bottom: 60px;

    .culturalH-title{
        width: 100%;
        position: relative;
        padding-bottom: 15px;
        &:after{
            content: '';
            position: absolute;
            display: block;
            width: 20px;
            height: 3px;
            left: 0;
            bottom: 0;
            @include bgc("标题下方横线","culturalHTitleline",#842c44);
        }
        .sup{
            @include cl("英文标题","culturalHEnTitle",#f6ece6);
            line-height: 1;
            font-size: 24px;
            font-weight: bold;
        }
        .title{
            @include cl("中文标题","culturalHCnTitle",#333333);
            line-height: (42/30);
            font-size: 16px;
            font-weight: bold;
            padding-top: 5px;
        }
    }

    .culturalH-tab{
        padding-top: 30px;
        padding-bottom: 10px;
        
        ul{
            width: auto;
            border-bottom: 1px solid #d8dde6;
            display: inline-block;
            vertical-align: top;
            font-size: 0;
            li{
                display: inline-block;
                vertical-align: top;
                width: auto;
                line-height: 40px;
                a{
                    display: block;
                    padding: 0 20px;
                    transition: all 0.3s;
                    @include cl("切换选项卡文字","culturalHTabTitle",#666666);
                    font-size: 14px;
                }
            }
            li.cur{
                a{
                    color: #fff;
                    @include bgchv("文化愿景切换选项","culturalHTabCurTitle",#842c44);
                }
            }
        }
    }



    .culturalH-list{
        width: 100%;
        position: relative;
        ul{
            li{
                width: 100%;
                position: relative;
                .cell{
                    position: relative;
                    
                }
                .thumb{
                    display: block;
                    width: 100%;
                    overflow: hidden;
                    position: relative;
                    // &::before{
                    //     content: '';
                    //     display: block;
                    //     width: 100%;
                    //     padding-bottom: 100%;
                    // }
                    img{
                        // position: absolute;
                        display: block;
                        width: 100%;
                        // top: 0;
                        // left: 0;
                    }
                }
                .word{
                    // padding: 20px 0;
                    padding-top: 20px;
                    padding-bottom: 40px;
                    .title{
                        @include cl("栅格文本标题","culturalHsquareTitle",#842c44);
                        line-height: 1.5;
                        font-size: 20px;
                    }
                    .txtcon{
                        padding-top: 10px;
                        @include cl("栅格文本描述","culturalHsquareTxt",#666);
                        line-height: 1.7;
                        font-size: 14px;
                    }
                    .text{
                        
                    }
                    .dots{
                        >p,>*{
                            display: block;
                            width: 100%;
                            padding-left: 10px;
                            position: relative;
                            overflow: hidden;
                            &::before{
                                content: '▪';
                                display: block;
                                position: absolute;
                                left: 0;
                                top: 0px;
                            }
                        }
                    }
                    .letter{
                        margin-top: -5px;
                        @include cl("栅格标点字母","culturalHsquareLetter",#1d1d1d);
                        line-height: 1.2;
                        font-size: 22px;
                        letter-spacing: 2px;
                        font-weight: lighter;
                    }
                    
                }
                .icon {
                    position: absolute;
                    bottom: 4px;
                    z-index: 22;
                    left: 0;
                    width: 100%;
                    // height: 44px;
                    display: none;
                    img{
                        display: block;
                        max-width: 100%;
                        // height: 100%;
                    }
                }
            }
        }
    }

    

}










