@import 'aamixin.scss';
@import 'aamixin02.scss';
@media (min-width:768px){

    .culturalH-container{

        .culturalH-list{

            ul{
                li{
                    display: table;
                    table-layout: fixed;
                    border-bottom: 1px solid #dde3eb;

                    &:last-child{
                        border-bottom: none;
                        .cell{
                            // padding-bottom: 0;
                        }
                        .cell:nth-child(2){
                            &::before,&:after{
                                display: none;
                            }
                        }
                    }

                    &.middle{
                        .cell{
                            vertical-align: middle;
                        }
                        .word{
                            padding-top: 0;
                        }
                    }

                    .cell{
                        width: 33.3333%;
                        display: table-cell;
                        vertical-align: top;
                        padding: 3px;
                    }

                    .cell:nth-child(1){
                        padding-left: 0;
                    }
                    .cell:nth-child(2){
                        border-left: 1px solid #dde3eb;
                        border-right: 1px solid #dde3eb;
                        &::before,&:after{
                            content: '';
                            width: 18px;
                            height: 18px;
                            background-repeat: no-repeat;
                            background-size: contain;
                            background-position: center center;
                            position: absolute;
                            background-image: url(../images/culturalH-plus.png);
                            bottom: -9px;
                            z-index: 22;
                            // @include b
                        }
                        &::before{
                            left: -8px;
                        }
                        &:after{
                            right: -8px;
                        }
                    }
                    .cell:nth-child(3){
                        padding-right: 0;
                    }
                    

                    .thumb{
    
                        // &::before{
                        //     content: '';
                        //     display: block;
                        //     width: 100%;
                        //     padding-bottom: 100%;
                        // }
                        img{
                            // position: absolute;
                            // top: 50%;
                            // left: 0;
                            // transform: translateY(-50%) scale(1);
                        }
                    }
                    .word{
                        // padding: 20px 0;
                        // padding-top: 10px;
                        // padding-bottom: 0px;
                        // padding-left: 10px;
                        // padding-right: 10px;
                        padding: 10px 10px 0;
                        .title{
                           
                            // font-size: 20px;
                        }
                        .txtcon{
                            // padding-top: 10px;
                           
                            // font-size: 14px;
                        }
                        .text{
                            
                        }
                        .dots{
                            >p,>*{
                               
                            }
                        }
                        .letter{
                            // margin-top: -5px;
                            // font-size: 22px;
                            // letter-spacing: 2px;
                        }
                        
                    }
                    .icon {
                        display: block;
                        img{
                        }
                    }
                }
            }
        }
    }
    

}