
@import 'aamixin.scss';
@import 'aamixin02.scss';

@media (min-width:1024px){
    
    .culturalHfull-container{

    }

    .culturalH-container{
        padding-top: 40px;
        padding-bottom: 180px;
        .culturalH-title{
            padding-bottom: 22px;
            &:after{
                // width: 20px;
                // height: 3px;
            }
            .sup{
                font-size: 40px;
            }
            .title{
                font-size: 24px;
                font-weight: normal;
            }
        }

        .culturalH-tab{
            // padding-top: 30px;
            ul{
               
                li{
                    min-width: 150px;
                    a{
                        padding: 0 35px;
                        font-size: 16px;
                    }
                }
                li:hover{
                    a{
                        color: #fff;
                        @include bgchv("鼠标移入状态","culturalHTabHoverTitle",#842c44);
                    }
                }
                
            }
        }


        .culturalH-list{

            ul{
                li{
                    
                    .cell{

                    }

                    .thumb{
    
                        
                    }
                    .word{
                        // padding: 20px 0;
                        // padding-top: 10px;
                        // padding-bottom: 0px;
                        // padding-left: 10px;
                        // padding-right: 10px;
                        // padding: 10px 10px 0;
                        padding: (60/400)*100% (35/400)*100% 0;
                        .title{
                           
                            font-size: 26px;
                        }
                        .txtcon{
                            padding-top: 15px;
                           
                            // font-size: 14px;
                        }
                        .text{
                            
                        }
                        .dots{
                            >p,>*{
                               
                            }
                        }
                        .letter{
                            // margin-top: -5px;
                            font-size: 26px;
                            // letter-spacing: 2px;
                        }
                        
                    }
                    .icon {
                        // display: block;
                        img{
                        }
                    }
                }
            }
        }

    }
}
