@import 'aamixin.scss';
.module-a{
    h3{
        padding: 10px;
        margin:10px;
        @include cl('A的字体颜色','acolor',#333);
        @include bgc('A的背景颜色','acolor',#f60);
        line-height: 2;
        
        background-image: url('images/searchicon.png');
        background-image: url('/images/searchicon.png');
        background-image: url('./images/searchicon.png');
        background-image: url('../images/searchicon.png');
        background-position:center center;
        

        background: #000 url('images/searchicon.png')  0 0;
        background: #000 url('/images/searchicon.png')  0 0;
        background: #000 url('./images/searchicon.png')  0 0;
        background: #000 url('../images/searchicon.png')  0 0;
		color:#fff;
		font-size:30px;
        background-repeat: repeat;
        border: 10px solid #ccc;
        p{
            color: #999;
            border: 10px solid #333;
        }
    }
}