@import 'aamixin.scss';
@import 'aamixin02.scss';
// @include bgimg('联系我们板块信息文字背景','contactusInfoBgimg','bg01.png');
$main_color:#d25400;

.culturalB-container{
    width: 100%;
    overflow: hidden;
    padding-top: 30px;
}

.culturalB-company{
    width: 100%;
    overflow: hidden;
    position: relative;
    .company-wover{
        padding-bottom: 20px;
    }
    .company-cover{
        // padding-top: 20px;
        padding: 20px 0 20px 20px;
        position: relative;
        &:after{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 1000%;
            z-index: 11;
            @include bgc("公司愿景右侧板块","culturalBModuleBgColor",#f3f3f3);
        }
    }
    .company-prompt{
        width: 100%;
        position: relative;
        .enTitle{
            // color: #e7e6e2;
            @include cl("公司愿景英文标题","culturalBEnTitleColor",#e7e6e2);
            font-size: 22px;
            line-height: 1;
            word-spacing: -2px;
        }
        .cnTitle{
            // color: $main_color;
            @include cl("公司愿景中文标题","culturalBChTitleColor",$main_color);
            font-size: 18px;
            // line-height: (38/24);
            line-height: 1.6;
            font-weight: bold;
        }
    }
    .company-desc{
        padding-top: 15px;
        padding-bottom: 35px;
        .title{
            @include cl("公司愿景核心精神标题","culturalBCoreTitleColor",#444444);
            font-size: 16px;
            font-weight: bold;
            // line-height: (32/18);
            line-height: 1.8;
        }
        .textcon{
            padding-top: 3px;
        }
        .text{
            @include cl("公司愿景核心精神文本","culturalBCoreTextColor",#a1a1a1);
            font-size: 12px;
            line-height: (18/12);
        }
    }

    .company-marks{
        position: relative;
        li{
            width: 100%;
            overflow: hidden;
            position: relative;
            margin-bottom: 20px;
            .icon{
                float: left;
                width: 90px;
                position: relative;
                overflow: hidden;
                &::before{
                    content: '';
                    display: block;
                    width: 100%;
                    padding-bottom: 100%;
                }
                img{
                    display: block;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;

                }
            }
            .msgs{
                display: block;
                width: auto;
                overflow: hidden;
                padding-left: 15px;
                padding-top: 15px;
                .title{
                    @include cl("公司愿景使命标题","culturalBMaskTitleColor",#444444);
                    // line-height: (28/18);
                    line-height: 1.6;
                    font-size: 16px;
                    font-weight: bold;
                    margin-bottom: 5px;
                }
                .txt{
                    @include cl("公司愿景使命文本","culturalBMaskTextColor",#a1a1a1);
                    font-size: 12px;
                    line-height: (18/12);
                }
            }
        }
    }


    .company-thumb{
        position: relative;
        z-index: 22;
        .item{
            width: 100%;
            overflow: hidden;
            position: relative;
            .image{
                display: block;
                width: 100%;
                overflow: hidden;
                position: relative;
                &::before{
                    content: '';
                    display: block;
                    width: 100%;
                    padding-bottom: (260/448)*100%;
                }
                img{
                    position: absolute;
                    display: block;
                    width: auto;
                    height: 100%;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }

            .word{
                position: absolute;
                z-index: 22;
                left: 0;
                top: (80/260)*100%;
                width: 100%;
                padding: 0 15px;
                .sup{
                    font-size: 18px;
                    font-weight: bold;
                    line-height: (34/24);
                }
                .sub{
                    font-size: 16px;
                    // font-weight: bold;
                    line-height: 1;
                }
            }

        }
        .industry{
            margin-bottom: 10px;
            .image{
                &::before{
                    padding-bottom: (260/448)*100%;
                }
            }
            .sup{
                @include cl("公司愿景右侧板块中文标题","culturalBModuleCNColor01",#878787);
            }
            .sub{
                @include cl("公司愿景右侧板块英文标题","culturalBModuleENColor01",#d89d3a);
            }
        }
        .online{
            .image{
                &::before{
                    padding-bottom: (198/448)*100%;
                }
            }
            .sup{
                @include cl("公司愿景右侧板块中文标题","culturalBModuleCNColor02",#ffffff);
            }
            .sub{
                @include cl("公司愿景右侧板块英文标题","culturalBModuleENColor02",#f1a114);
            }
        }
    }

}

.culturalB-worthy{
    width: 100%;
    overflow: hidden;
    position: relative;
    background-position: (120/1920)*100% bottom;
    background-repeat: no-repeat;
    background-size: auto;
    @include bgimg("核心价值观最下面图标","culturalBMaskBgImg","culturalB-bgimg02.png");
    .fullbg{
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 11;
        display: none;
        .image{
            display: block;
            width: 100%;
            position: relative;
            overflow: hidden;
            &::before{
                content: '';
                display: block;
                width: 100%;
                // padding-bottom: (385/1920)*100%;
                padding-bottom: 100%;
            }
            img{
                position: absolute;
                top: 0;
                left: 50%;
                display: block;
                width: auto;
                height: 100%;
                transform: translateX(-50%);
            }
        }
        
    }
}

.culturalB-content{
    width: 100%;
    position: relative;
    z-index: 22;
    padding-bottom: 30px;
    .worthy-header{
        width: 100%;
        position: relative;
        overflow: hidden;
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .worthy-prompt{
        
        .cnTitle{
            @include cl("核心价值观中文标题","culturalBValueCNTitleColor",#444444);
            font-size: 16px;
            font-weight: bold;
            line-height: (30/18);
        }
        .enTitle{
            @include cl("核心价值观英文标题","culturalBValueENTitleColor",#d89d3a);
            font-size: 18px;
            // font-weight: bold;
            line-height: 1;
        }
    }
    .worthy-wrapper{
        // padding-top: 20px;
    }
}

.culturalBbot-wrapper{
    width: 100%;
    position: relative;
}
.culturalBbot-swiper{
    width: 100%;
    position: relative;
    ul{
        li{
            width: 100%;
            height: auto;
            a{
                display: block;
                width: 100%;
                position: relative;
            }
            .image{
                display: block;
                width: 100%;
                overflow: hidden;
                position: relative;
                &::before{
                    content: '';
                    display: block;
                    width: 100%;
                    padding-bottom: (244/392)*100%;
                }
                img{
                    display: block;
                    width: auto;
                    top: 0;
                    left: 50%;
                    position: absolute;
                    transform: translateX(-50%) scale(1);
                    height: 100%;
                    transition: all 0.9s;
                }
            }
            .content{
                position: relative;
                z-index: 22;
                margin-top: -62px;
                padding-left: 10px;
            }
            .word{
                background-color: #fff;
                padding: 20px 20px 20px;
                .title{
                    @include cl("核心价值观滑块展示上标题","culturalBValueSupTitleColor",#444444);
                    line-height: (30/18);
                    font-size: 16px;
                    font-weight: bold;
                    width: 100%;
                    @include ol();
                }
                .sub{
                    @include cl("核心价值观滑块展示下标题","culturalBValueSubTitleColor",#d89d34);
                    line-height: (24/14);
                    font-size: 13px;
                    width: 100%;
                    @include ol();
                }
                .textcon{
                    padding-top: 10px;
                }
                .text{
                    @include cl("核心价值观滑块展示文本","culturalBValueTextColor",#a1a1a1);
                    font-size: 12px;
                    line-height: (18/12);
                    @include ml(18px , 11);
                }
            }
        }
    }
}

.culturalBbot-swiper-prev,.culturalBbot-swiper-next{
    position: absolute;
    width: 51px;
    height: 51px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    transition: background 0.3s;
    top: (75/450)*100%;
    z-index: 223;
    display: none;
}

.culturalBbot-swiper-prev{
    @include bgimg("核心价值观左按钮","culturalBPrevButton","culturalB-button-prev.png");
    &:hover{
        @include bgimghv("核心价值鼠标触发观左按钮","culturalBPrevButtonHover","culturalB-button-prevs.png");
    }
}

.culturalBbot-swiper-next{
    @include bgimg("核心价值观右按钮","culturalBNextButton","culturalB-button-next.png");
    &:hover{
        @include bgimghv("核心价值鼠标触发观右按钮","culturalBNextButtonHover","culturalB-button-nexts.png");
    }
}



@media (min-width:1024px){

    .culturalB-container{
        padding-top: 50px;
    }

    .culturalB-company{

        .company-wover{
            padding-bottom: 0px;
            // padding-right: (120/1200)*100%;
            padding-right: (80/1200)*100%;
            float: left;
            // width: (730/1200)*100%;
            width: (650/1200)*100%;
            padding-top: 15px;
        }
        .company-cover{
            // padding-top: 20px;
            float: left;
            width: (550/1200)*100%;
            // padding: 20px 0 20px 20px;
            
        }
        .company-prompt{

            .enTitle{
                font-size: 30px;
                // line-height: 1;
                // word-spacing: -2px;
            }
            .cnTitle{
                // color: $main_color;
                font-size: 22px;
                // line-height: (38/24);
                // line-height: 1.6;
                font-weight: normal;
            }
        }
        .company-desc{
            // padding-top: 15px;
            // padding-bottom: 35px;
            .title{
                // font-size: 16px;
                // font-weight: bold;
                // line-height: (32/18);
                // line-height: 1.8;
            }
            .textcon{
                // padding-top: 3px;
            }
            .text{
                // @include cl("公司愿景核心精神文本颜色","culturalBCoreTextColor",#a1a1a1);
                // font-size: 12px;
                // line-height: (18/12);
            }
        }

        .company-marks{

            li{
                // margin-bottom: 20px;
                &:last-child{
                    margin-bottom: 0;
                }
                .icon{
                    // width: 90px;
                }
                .msgs{
                   
                    // padding-left: 15px;
                    // padding-top: 15px;
                    .title{
                        // line-height: (28/18);
                        // line-height: 1.6;
                        // font-size: 16px;
                        // font-weight: bold;
                        // margin-bottom: 5px;
                    }
                    .txt{
                        // font-size: 12px;
                        // line-height: (18/12);
                    }
                }
            }
        }


        .company-thumb{
            
            .item{
                
                .image{
                    
                    img{

                    }
                }

                .word{
                    padding: 0 20px;
                    .sup{
                        font-size: 20px;
                        // font-weight: bold;
                        // line-height: (34/24);
                    }
                    .sub{
                        font-size: 18px;
                        // font-weight: bold;
                        // line-height: 1;
                    }
                }

            }
            .industry{
                margin-bottom: 12px;
                .image{
                    
                }
                .sup{
                   
                }
                .sub{
                    
                }
            }
            .online{
                .image{
                    
                }
                .sup{
                    
                }
                .sub{
                    
                }
            }
        }

    }

    .culturalB-worthy{

        .fullbg{
            display: block;
            .image{
               
                &::before{
                    //padding-bottom: (385/1920)*100%; //310/1024
                    padding-bottom: (310/1024)*100%; //310/1024
                }
                img{
                    
                }
            }
            
        }
    }

    .culturalB-content{
        padding-bottom: 60px;

        .worthy-header{
            padding-top: 0;
            padding-bottom: 0;
            &::before{
                content: '';
                display: block;
                width: 100%;
                // padding-bottom: (140/1920)*100%;
                padding-bottom: (240/1920)*100%;
            }
        }

        .worthy-prompt{
            position: absolute;
            left: 0;
            width: 100%;
            top: (55/140)*100%;
            .cnTitle{
                
                // font-size: 16px;
                // font-weight: bold;
                // line-height: (30/18);
            }
            .enTitle{
                // font-size: 18px;
                // font-weight: bold;
                // line-height: 1;
            }
        }
        .worthy-wrapper{
            // padding-top: 0px;
        }
    }

    .culturalBbot-wrapper{

    }
    .culturalBbot-swiper{
        overflow: hidden;
        ul{
            li{
                a{
                    cursor: default;
                }
                .image{
                    img{
                        // transform: translateX(-50%) scale(1);
                    }
                }
                .content{
                    margin-top: -62px;
                    padding-left: 20px;
                }
                .word{

                    // padding: 20px 20px 20px;
                    .title{
                        // line-height: (30/18);
                        // font-size: 16px;
                        // font-weight: bold;
                    }
                    .sub{
                        // line-height: (24/14);
                        // font-size: 13px;
                    }
                    .textcon{
                        // padding-top: 10px;
                    }
                    .text{
                        // line-height: (18/12);
                        // @include ml(18px , 11);
                        -webkit-line-clamp:10;
                        @include txth("核心价值观滑块展示","culturalBNextHeight",180px);
                    }
                }
            }
        }
    }

    .culturalBbot-swiper-prev{
        left: -20px;
    }
    .culturalBbot-swiper-next{
        right: -20px;
    }
    
}


@media (min-width:1260px){
    // padding-top: 50px;
    .culturalB-container{
        @include pdtop("文化愿景B模块","culturalBConsPaddingTop",80px);
    }
    
    .culturalB-company{

        .company-wover{
            padding-right: (100/1200)*100%;
            // padding-right: (80/1200)*100%;
            width: (730/1200)*100%;
            // padding-top: 15px;
            @include pdtop("公司愿景顶部偏移","culturalPaddingTop",16px);
        }
        .company-cover{
            // padding-top: 20px;
            float: left;
            width: (460/1200)*100%;
            // padding: 20px 0 20px 20px;
            @include pd("公司愿景海报板块","culturalAdPadding", 30px 0 30px 30px );
            
        }
        .company-prompt{

            .enTitle{
                // font-size: 36px;
                @include fz("公司愿景英文标题文字","culturalBEnTitleSize",36px);
                // line-height: 1;
                // word-spacing: -2px;
            }
            .cnTitle{
                // color: $main_color;
                // font-size: 22px;
                @include fz("公司愿景中文标题文字","culturalBCnTitleSize",24px);
                // line-height: (38/24);
                // line-height: 1.6;
                // font-weight: normal;
            }
        }
        .company-desc{
            @include pdtop("公司愿景核心精神描述","culturalPaddingTop",25px);
            @include pdbottom("公司愿景核心精神描述","culturalPaddingBottom",35px);
            // padding-bottom: 35px;
            .title{
                // font-size: 18px;
                @include fz("公司愿景核心精神标题文字","culturalBCoreTitleSize",18px);
                // font-weight: bold;
                // line-height: (32/18);
                // line-height: 1.8;
            }
            .textcon{
                padding-top: 9px;
            }
            .text{
                // @include cl("公司愿景核心精神文本颜色","culturalBCoreTextColor",#a1a1a1);
                // font-size: 12px;
                // line-height: (18/12);
                @include fz("公司愿景核心精神文本","culturalBCoreTextSize",12px);
            }
        }

        .company-marks{

            li{
                // margin-bottom: 20px;
                @include mgbottom("公司愿景使命条例","culturalBMaskMarkMarginBotton",25px);
                .icon{
                    // width: 110px;
                    @include width("公司愿景使命条icon","culturalBMaskIconSize",110px);
                }
                .msgs{
                   
                    padding-left: 20px;
                    @include pdtop("公司愿景使命标题","culturalTitlePaddingTop",18px);
                    // padding-top: 15px;
                    .title{
                        // line-height: (28/18);
                        // line-height: 1.6;
                        // font-size: 18px;
                        @include fz("公司愿景使命标题文字","culturalTaskIconTitle",18px);
                        // font-weight: bold;
                        margin-bottom: 10px;
                    }
                    .txt{
                        // font-size: 12px;
                        @include fz("公司愿景使命标题下文本文字","culturalTaskSubTxtSize",12px);
                        // line-height: (18/12);
                    }
                }
            }
        }


        .company-thumb{
            
            .item{
                
                .image{
                    
                    img{

                    }
                }

                .word{
                    // padding: 0 20px;
                    @include pd("公司愿景右侧板块文本","culturalBModulePadding",0 30px);
                    .sup{
                        // font-size: 24px;
                        @include fz("公司愿景右侧板块中文字","culturalCNSlideTitleSize",24px);
                        // font-weight: bold;
                        // line-height: (34/24);
                    }
                    .sub{
                        // font-size: 24px;
                        @include fz("公司愿景右侧板块英文字","culturalENSlideTitleSize",24px);
                        // font-weight: bold;
                        // line-height: 1;
                    }
                }

            }
            .industry{
                // margin-bottom: 12px;
                .image{
                    
                }
                .sup{
                   
                }
                .sub{
                    
                }
            }
            .online{
                .image{
                    
                }
                .sup{
                    
                }
                .sub{
                    
                }
            }
        }

    }


    .culturalB-worthy{

        .fullbg{
            
            .image{
               
                &::before{
                    //padding-bottom: (385/1920)*100%; //310/1024
                    padding-bottom: 385px;
                }
                img{
                    
                }
            }
            
        }
    }

    .culturalB-content{
        // padding-bottom: 60px;

        .worthy-header{

            &::before{
                padding-bottom: 140px;
            }
        }

        .worthy-prompt{

            .cnTitle{
                // font-size: 16px;
                // font-weight: bold;
                // line-height: (30/18);
                @include fz("核心价值观中文标题","culturalBValueCNTitleSize",18px);
            }
            .enTitle{
                // font-size: 18px;
                // font-weight: bold;
                // line-height: 1;
                @include fz("核心价值观英文标题","culturalBValueENTitleSize",22px);
            }
        }
        .worthy-wrapper{
            // padding-top: 0px;
        }
    }

    .culturalBbot-wrapper{

    }
    .culturalBbot-swiper{

        ul{
            li{
                a{
                    // cursor: default;
                }
                .image{
                    img{
                        // transform: translateX(-50%) scale(1);
                    }
                }
                .content{
                    margin-top: -80px;
                    // padding-left: 20px;

                }
                .word{
                    // padding: 20px 20px 20px;
                    @include pd("核心价值观滑块白色区域","culturalBValuePadding",30px 30px 25px);
                    .title{
                        // line-height: (30/18);
                        // font-size: 16px;
                        // font-weight: bold;
                        @include fz("核心价值观滑块展示上标题","culturalBValueSupTitleSize",18px);
                    }
                    .sub{
                        // line-height: (24/14);
                        // font-size: 13px;
                        @include fz("核心价值观滑块展示下标题","culturalBValueSubTitleSize",14px);
                    }
                    .textcon{
                        padding-top: 20px;
                    }
                    .text{

                    }
                }
            }
        }
    }


    .culturalBbot-swiper-prev{
        left: -30px;
    }
    .culturalBbot-swiper-next{
        right: -30px;
    }
    

}



@media (min-width:1360px){
    .culturalBbot-swiper-prev{
        left: -70px;
    }
    .culturalBbot-swiper-next{
        right: -70px;
    }
}