<!DOCTYPE html>
<html>

<head>
</head>

<body>
	// Comments for your template writers.Use as much text as you want.
    
	h1 My Site
	p Welcome to my super lame site.
	p Welcome to my super lame site.
	p.test classtestclasstestclasstest
	p#test classtestclasstestclasstest
	p#test.test classtestclasstestclasstest
	a(href="")  A标签的内容
	a(href="") 
		img(src="", alt="") 

	ul
		li Item A
		li Item B
		li Item C

	.wraper
		ul.list
			- for (var x = 0; x < 3; x++)
				li item
</body>

</html>